<a href="https://colab.research.google.com/github/nagasandeep18/PANDAS/blob/master/basic_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The basic python concepts:


1.   Data Types
2.   Operators
3.   Flow control
4.   Functions
5.   File Handling

**1.Data Types**:
1. integer
2.float
3.boolean
4.list,sets,tuples,dictionary

In [ ]:
#data types
i=20                    #natural numbers 
j=20.2                  #decimal numbers
s='kiran'
k=True                  #bool form (True or False)
l=[1,2,'e',3]           #set not arrray because array has same datatypes
m=set(l)                #reduces to unique values
t=(i,j,l,m,k)           #tuple no mutations can be done
d={1:34,'a': [34,33,2]} #contains keys and values

#checking the type of data
print("i is",type(i))
print("j is",type(j))
print("k is",type(k))
print('l is',type(l))
print("m is",type(m))
print("t is",type(t))
print("d is",type(d))
print("s is",type(s))

i is <class 'int'>
j is <class 'float'>
k is <class 'bool'>
l is <class 'list'>
m is <class 'set'>
t is <class 'tuple'>
d is <class 'dict'>
s is <class 'str'>

**task** : give values to a list  and convert it to set and convert that set into tupple and then convert that tuple into dictionary.

In [ ]:
#construction a list
lists=[1,2,1,5,3,5,7,6,8,8,1]
#changing it into set
sets = set(lists)
print('the list is',lists,'its set is',sets)
#changing set into tuple
tuples = tuple(sets)
print('the set is',sets,'its tuple is',tuples)
#changing tuple into dictionary
#dictionary = dict(tuples) -> inference tuple even  cant change the data type 
#print('the tuple is',tuples,'the dictionary',dictionary)
list1=[1,2,3]
list2=['a','b','c']
dictionary = dict(zip(list1,list2))#using inbuild zip function
print("the dictionary is",dictionary)

the list is [1, 2, 1, 5, 3, 5, 7, 6, 8, 8, 1] its set is {1, 2, 3, 5, 6, 7, 8}
the set is {1, 2, 3, 5, 6, 7, 8} its tuple is (1, 2, 3, 5, 6, 7, 8)
the dictionary is {1: 'a', 2: 'b', 3: 'c'}

--------------------------------------------------------------------------------
**2.operators**

In [ ]:
 a=1
 b=2
 c=a+b  #addition
 d=a-b  #substraction 
 e=a*b  #multiplication
 g=a**b #power
 f=a/b  #division
 h=a//b #
 i=a%b  #remainder
 print("a=",a,",b=",b)
 print("addition = ",c)
 print("substraction = ",d)
 print("multiplication = ",e)
 print("power = ",g)
 print("division=",f)
 print("integer of division = ",h)
 print('remainder =',i)

a= 1 ,b= 2
addition =  3
substraction =  -1
multiplication =  2
power =  1
division= 0.5
integer of division =  0
remainder = 1

In [ ]:
#bool opterators
a=1
b=2
state1 = (a==b)
state2 = (a!=b)
state3 = (a>b)
state4 = (a<b)
print("state1=",state1,",state2=",state2,",state3=",state3,",state4=",state4)
state5= (True)and(False)
state6= (True)or(False)
print("state5=",state5,",state6=",state6)

state1= False ,state2= True ,state3= False ,state4= True
state5= False ,state6= True

3.**Flow control**

**if,else,elif**

write a code which differentiate the given number is odd and even number.

In [ ]:
x =int(input("enter a number = "))
if(x%2==0):
  print(x,"is even")
else:
  print(x,"is odd")

enter a number = 23
23 is odd

**note**: if we use "if" condition multiple times only if it is compulsary to check every condition,
      if there is no compulsary we use "elif" condition which reduces iterations and time

write a code to check the given number is positive or negative or zero.

In [ ]:
x=int(input("enter a number ="))
if(x<0):
  print(x,"is negative number")
elif(x>0):
  print(x,"is positive number")
else:
  print(x,"is zero")

enter a number =7
7 is positive number

**for loop**

write a code using for loop to print squares of first 10 natural numbers

In [ ]:
for i in range(10):
  print(i,"'s square is",i**2)

0 's square is 0
1 's square is 1
2 's square is 4
3 's square is 9
4 's square is 16
5 's square is 25
6 's square is 36
7 's square is 49
8 's square is 64
9 's square is 81

write a code using for loop to separate odd and even numbers in a given list to separate lists.

In [ ]:
x=[2,5,1,7,4,3,6,3,4,5,7,654,3,8,9,0,54] #given list
odd=[]                                   #empty lists    
even=[]
for i in x:
  if(i%2==0):
    even.append(i)
  else:
    odd.append(i)
print("list of even numbers are",even)
print("list of odd numbers are",odd)

list of even numbers are [2, 4, 6, 4, 654, 8, 0, 54]
list of odd numbers are [5, 1, 7, 3, 3, 5, 7, 3, 9]

**break**:

write a code to creat a separate list from a given list if the sum of integers list  is 20

In [ ]:
x=[1,4,3,5,2,6,3,6,6]
sum20_list=[]
k=0
for i in x:
  k=k+i
  sum20_list.append(i)
  if(k>20):
    break

print("the separated array is:",sum20_list)

the separated array is: [1, 4, 3, 5, 2, 6]

**Continue**:
write a code to print 5 table in which "5 X 2 = 10" should be eliminated.

In [ ]:
for i in range(10):
  if(i==2):
    continue
  print("5 x ",i,"=",5*i)

5 x  0 = 0
5 x  1 = 5
5 x  3 = 15
5 x  4 = 20
5 x  5 = 25
5 x  6 = 30
5 x  7 = 35
5 x  8 = 40
5 x  9 = 45

**while loop**:
write a code using while loop to know the given number is prime or not

In [ ]:
x= int(input("enter a number = "))
k=1
while(x!=k+1): #my plan is loop should  run to check x%k==0 for every number
               # except 1 and itself.
  k=k+1
  if(x%k==0):
    print(x,'is not prime')
    break
else:
  print(x,'is prime')

enter a number = 6
6 is not prime

**4.FUNCTIONS**

def stands for defination

use: reuse the code without repeatition.

write code to define a function which takes tuples and dictionary in arguments

In [ ]:
def student_info(*args,**kwargs):
  print(args)
  print(kwargs)

student_info('maths','art',name='sai',age=22)

('maths', 'art')
{'name': 'sai', 'age': 22}

write a code to return factorial of given number using for loop.

In [ ]:
def factorial():
  x=int(input("enter a number ="))
  t=1
  for i in range(x):
    t=t*x
    x=x-1
  return t
factorial()

enter a number =5

120

write a code to return factorial of given number using recursion

In [ ]:
x=int(input('enter a number ='))
def factorial(x):
  if x>1:
    return x*factorial(x-1)
  elif x==1:
    return 1
factorial(x)

enter a number =5

120





 **5.File handling**

create a text file , pen it in read mode:

1. assign a variable which holds the whole data in file
2. assign a variable which holds the first line of the file
3. print the present position of pointer in file

In [ ]:
#to create a file first we should open the file in write mode
f =open('text.txt','w')
f.write("i love maths, I do the best in it \n all the best")
f.close()

In [ ]:
f=open('text.txt','r')
print('Name of the file is',f.name)
print('mode of the file is',f.mode)
print('whole data in the file is : \n',f.read())
f.seek(0)
print('the first line of the file is \n:',f.readline())
print("the pointer is at \n",f.tell())
f.close()

Name of the file is text.txt
mode of the file is r
whole data in the file is :
 i love maths, I do the best in it
 all the best
the first line of the file is
: i love maths, I do the best in it

the pointer is at
 35

use **context manager**

Create a text file, open in write mode:
1. Write 'test'
2. replace the first character t with r

In [ ]:
with open('text2.txt','r+') as f: #'r+' opens the file in both read and write mode
  f.write('test')
  f.seek(0)
  print('the text in file is:',f.read())
  f.seek(0)
  f.write('r')
  f.seek(0)
  print('the text in file is:',f.read())

the text in file is: test
the text in file is: rest

**copy file**-copy the whole data in one file and paste it in another file

In [ ]:
with open('text.txt','r') as rf:
  with open('test_copy.txt','w') as wf:
    for line in rf:
      wf.write(line)